# Compiled files
*.o
*.out
*.exe
trainer_test
backprop_test
layer_test
model_test
matrix_test
csv_test

# Build folders
build/

# Debug files
*.dSYM/

# VSCode
.vscode/

# CLion
.idea/
cmake-build-*/

# Temporary
*.log

#binary
*.bin